*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

:root {
  --color-text: #1b1c23;
  --color-background: #ededf2;
  --color-primary: #4a43eb;
}

li {
  list-style: none;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

body {
  background-color: var(--color-background);
  font-family: "Open Sans", sans-serif;
}

.container {
  min-width: 800px;
  max-width: 90%;
  margin: 1rem auto;
}

.nav-list {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: bold;
}

.highlight {
  color: var(--color-primary);
}

.nav-list li:last-child {
  margin-left: auto;
}

.nav-list li:first-child {
  margin-right: 3rem;
}

.link {
  padding-inline: 1rem;
  font-weight: lighter;
}

.link:hover {
  background-color: var(--color-primary);
  color: white;
}

.button-secondary {
  appearance: none;
  border: 1px solid var(--color-primary);
  padding: 0.4rem 1.2rem;
  border-radius: 1rem;
}

/* hero section */

.hero {
  display: flex;
  margin: 3rem 1rem;
  align-items: center;
}

.information {
  flex: 1 1 50%;
}

.information h1 {
  font-size: 3.5rem;
  line-height: 1;
}

.information p {
  margin: 1.5rem 0;
  padding-right: 4rem;
  color: #666;
  font-weight: lighter;
}

.button-primary {
  appearance: none;
  border: none;
  background-color: var(--color-primary);
  color: white;
  padding: 0.5rem 1.2rem;
  border-radius: 1rem;

  box-shadow: 2px 2px 6px #999;
}

.image-container {
  flex: 1 1 50%;
  position: relative;
}

.image-container img {
  width: 100%;
  border-radius: 2rem;
  box-shadow: 2px 2px 6px #999;
}

.description {
  position: absolute;
  bottom: 1.5rem;
  left: 1rem;
  color: white;

  display: flex;
  align-items: center;
}

.name {
  margin-right: 1rem;
}
