*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #b5094f;
  --color-secondary: #e0478d;
  --color-ticket: #f2e4eb;
}

body {
  background-color: bisque;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  max-width: 480px;
  width: 70%;
  margin: 10rem auto;
}

.ticket {
  display: flex;
  transform: rotate(-10deg);
}

.content {
  flex: 5 5 50rem;
  background-color: white;
  padding: 3rem 1.5rem;
  display: flex;
  align-items: center;
  justify-items: center;

  border-radius: 1rem 0 0 1rem;
  position: relative;
  box-shadow: 2px 2px 4px var(--color-ticket);
}

.content::after {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  border-right: 2px dashed bisque;
  position: absolute;
  right: -1px;
  z-index: 2;
}

.aside {
  flex: 1 1 1rem;
  background-color: var(--color-secondary);
  writing-mode: vertical-lr;
  text-align: center;
  color: white;
  padding: 2rem;
  transform: rotate(180deg);

  border-radius: 1rem 0 0 1rem;
  position: relative;
  box-shadow: -2px -2px 4px var(--color-ticket);
}

.aside::before {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  background-color: bisque;
  position: absolute;
  border-radius: 1rem;
  top: -1rem;
  right: -1rem;
}

.aside::after {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  background-color: bisque;
  position: absolute;
  border-radius: 1rem;
  bottom: -1rem;
  right: -1rem;
}

.logo {
  flex: 1 1 1rem;
}

.logo-script {
  flex: 2 2 1rem;
  margin-inline: 1rem;
}

.logo img {
  width: 100%;
}

.logo-script img {
  width: 100%;
}

.logo-script p {
  color: var(--color-primary);
  font-size: 1.5rem;
}

.logo-script p sup {
  background-color: var(--color-primary);
  color: white;
  display: inline-block;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  text-align: center;
  font-size: 0.8rem;
}

.title {
  margin-top: 1rem;
}
